/* Estilos generales */
*{
    margin: 0 auto;
    padding: 0%;
    box-sizing: border-box;
}
html {
font-size: 62.5%;
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url(../Tipografia/Roboto-Regular.ttf);
}
body{
    font-family: 'Roboto-Regular';
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
/* Header */

.ofertas {
    background-color: #222222;
    display: flex;
}
p {
color: #F3F3F3;
;
}
.Logo {
    background-color: #F0A83E;
    display: flex;
}
h1 {
    color:#FFFFFF;
}
span {
    color: #3C2313;
}
nav ul li {
display: inline-block;
color: #FFFFFF;
}
/* Main */
.bowlFondo{
    background-image: url(img/bowl_and_pet_daities_on_green_background);
    display: flex;
    background-size: cover;
}
.seccionPata{
    display: flex;
    flex-direction: column;
}
.lista{
    display: flex;
    justify-content: space-between;
}
.tarjetaProductos{
    display: flex;
    justify-content: space-evenly;
}

/* Footer */
footer{
    background-color:#222222;
color:#FFFFFF;
align-content: center;
}