*{
    margin: 0 auto;
}


/* Head */
head {
font-family: 'Roboto', sans-serif;
}


/* Header */

.ofertas {
    background-color: #222222;
    display: flex;
}
p {
color: #F3F3F3;
;
}
.Logo {
    background-color: #F0A83E;
    display: flex;
}
h1 {
    color:#FFFFFF;
}
span {
    color: #3C2313;
}
nav ul li {
display: inline-block;
color: #FFFFFF;
}
/* Main */
.bowlFondo{
    background-image: url(img/bowl_and_pet_daities_on_green_background);
    display: flex;
    background-size: cover;
}
.seccionPata{
    display: flex;
    flex-direction: column;
}
.lista{
    display: flex;
    justify-content: space-between;
}
.tarjetaProductos{
    display: flex;
    justify-content: space-evenly;
}

/* Footer */
footer{
    background-color:#222222;
color:#FFFFFF;
align-content: center;
}